<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BuyList</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app does not directly access Apple Music. This permission may be required by a third-party library used in the app.</string>
	<key>NSCameraUsageDescription</key>
	<string>BuyList needs access to your camera to take profile photos and capture receipts.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BuyList needs your location to show nearby stores and deals.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>BuyList needs permission to save photos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BuyList needs access to your photo library to select profile photos and images.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>BuyList uses notifications to keep you updated on your shopping lists and circle activity.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>NeueHaasDisplayBlack.ttf</string>
		<string>NeueHaasDisplayBlackItalic.ttf</string>
		<string>NeueHaasDisplayBold.ttf</string>
		<string>NeueHaasDisplayBoldItalic.ttf</string>
		<string>NeueHaasDisplayLight.ttf</string>
		<string>NeueHaasDisplayLightItalic.ttf</string>
		<string>NeueHaasDisplayMediu.ttf</string>
		<string>NeueHaasDisplayMediumItalic.ttf</string>
		<string>NeueHaasDisplayRoman.ttf</string>
		<string>NeueHaasDisplayRomanItalic.ttf</string>
		<string>NeueHaasDisplayThin.ttf</string>
		<string>NeueHaasDisplayThinItalic.ttf</string>
		<string>NeueHaasDisplayXThin.ttf</string>
		<string>NeueHaasDisplayXThinItalic.ttf</string>
		<string>NeueHaasDisplayXXThin.ttf</string>
		<string>NeueHaasDisplayXXThinItalic.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>buylist</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.buylist</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
